<%- include ("../partials/header.ejs") %>
<%- include ("../partials/navbar.ejs")%>
<div class="painel">
<div class="container text-center">
    <h1>Selecione uma opção: </h1>
        <div class="options">
            <div class="btn-group">
                <a class="btn btn-primary ml-auto" href="/admin/users">Usuários</a>
                <a class="btn btn-primary ml-auto" href="/admin/labs">Laboratórios</a>
                <a class="btn btn-warning ml-auto" href="/logout">Deslogar</a>
            </div>
        </div>

</div>
</div>
<%- include ("../partials/footer.ejs") %>