
<footer class="text-center text-lg-start bg-light text-muted fy " >
    
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"><div class="m-auto">Mais atualizações em breve</div></section>
   
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>LABORATÓRIOS
            </h6>
            <p>
              Aqui você pode visualizar os laboratórios listados pelos administradores.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              UNIJORGE
            </h6>
            <p>
              <a href="https://www.instagram.com/Unijorge_Oficial/" class="text-reset">Instagram</a>
            </p>
            <p>
              <a href="https://www.unijorge.edu.br/" class="text-reset">Pagina oficial</a>
            </p>
            <p>
              <a href="https://www.reclameaqui.com.br/empresa/unijorge-centro-universitario-jorge-amado/" class="text-reset">Reclame Aqui</a>
            </p>
            <p>
              <a href="https://emec.mec.gov.br/emec/consulta-cadastro/detalhes-ies/d96957f455f6405d14c6542552b0f6eb/MTE4NQ==" class="text-reset">Site do MEC</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Outros
            </h6>
            <p>
              <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTTP/Status" class="text-reset">Ajuda</a>
            </p>
            <p>
              <a href="https://www.google.com.br/?hl=pt-BR" class="text-reset">Google</a>
            </p>
            <p>
              <a href="https://www.linkedin.com" class="text-reset">Linkedin</a>
            </p>
            <p>
              <a href="https://github.com/filipeventuri" class="text-reset">Desenvolvedores</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contatos</h6>
            <p><i class="fas fa-home me-3"></i> Salvador-BA</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              filipeventuri@hotmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i>(75)99192-5502</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="/">Laboratorios.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/mobile-navbar.js"></script>
</html>