<div class="navbar navbar-dark bg-danger navbar-expand-lg">
    <a class="navbar-brand logo mr-auto" href="/">LABORATÓRIOS </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="">RESERVAR</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">LABORATÓRIOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">FUNCIONÁRIOS</a>
        </li>

    </ul>
    <a class="btn btn-danger" style="float: right;" href="/Logout">Logout</a>
</div>