
    <nav>
        <a class="logo" href="/">LABORATÓRIOS </a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li ><a  href="/labs/reserve">RESERVAR</a></li>
            <li ><a  href="/labs">CATÁLOGO</a></li>
            <li ><a  href="/users">FUNCIONÁRIOS</a></li>
        </ul>
    </nav>

